<span style="color: fuchsia"> **Indian Olympiad Qualifier in Mathematics (IOQM) 2024 will be held**</span> <span style="color: fuchsia"> **on Sunday, 8th September 2024.**</span>
<span style="color: green"> **Further details will be published in the month of June 2024**</span> on the webpage of [Mathematics Teachers’ Association](https://www.mtai.org.in/).

-------

Please <span style="color: red"> **go through the homepage**</span> [https://jpsaha.github.io/MOTP/](https://jpsaha.github.io/MOTP/), discussing 

- What is the <span style="color: green"> **purpose/goal**</span> of (making) <span style="color: green"> **this website**</span>? 
- How the <span style="color: green"> **material available**</span> here <span style="color: green"> **can be used**</span>? 
- <span style="color: green"> **Describing**</span> the sitemap, that is, the <span style="color: green"> **layout**</span> of the entire webpage. 

Therefore, please <span style="color: red"> **go through the homepage**</span> [https://jpsaha.github.io/MOTP/](https://jpsaha.github.io/MOTP/).

-------

<br>

