
<h2 align="center">👋 Some of the <span style="color: fuchsia"> stages of the Math Olympiad program 2024 --- 2025</span> are </h2>

-------

|    | Date and Time | Total marks | Number of Questions | Remarks | Website(s) |
| :---: | :---: | :---: | :---: | :---: |
|       |       |       |       |       |       |       
| `IOQM` <br> <span style="color: green">Indian Olympiad Qualifier in Mathematics</span> | <span style="color: red"> 8th September, 2024</span>, 10:00hrs --- 13:00hrs | 100 marks | 30 |   10 questions worth 2 marks, 10 questions worth 3 marks, 10 questions worth 5 marks. Answer to each question is an integer between 00--99.   | [MTAI](https://www.mtai.org.in), [HBCSE](https://olympiads.hbcse.tifr.res.in/mathematical-olympiad-2024-2025/) |
|       |       |       |       |       |              
| `RMO` <br> <span style="color: green">Regional Mathematical Olympiad</span> | <span style="color: red"> 3rd November, 2024</span>, 13:00hrs --- 16:00hrs |   | 6 |    Requires writing detailed proof.   | [HBCSE](https://olympiads.hbcse.tifr.res.in/mathematical-olympiad-2024-2025/) |
|       |       |       |       |       |              
| `INMO` <br> <span style="color: green">Indian National Mathematical Olympiad</span> | <span style="color: red"> 19th January, 2025</span>, 12:00hrs --- 16:30hrs |   | 6 |    Requires writing detailed proof.    | [HBCSE](https://olympiads.hbcse.tifr.res.in/mathematical-olympiad-2024-2025/) |
|       |       |       |       |       |              
|  `IMOTC`     <br>   <span style="color: green">International Mathematical Olympiad Training Camp</span> |  <span style="color: red"> Held from April to May</span>       |     |      |  Through the TSTs (Team Selection Tests), it leads to the selection of six students to represent India at IMO.     | [HBCSE](https://olympiads.hbcse.tifr.res.in/mathematical-olympiad-2024-2025/) |
|       |       |       |       |       |              
|    `PDC`       <br>  <span style="color: green">Pre-Departure Camp</span>    |   <span style="color: red"> Before leaving for [IMO](https://www.imo-official.org/)</span>      |       |       |        | [HBCSE](https://olympiads.hbcse.tifr.res.in/mathematical-olympiad-2024-2025/) |
|       |       |       |       |       |             

- Please visit [this webpage](https://olympiads.hbcse.tifr.res.in/mathematical-olympiad-2024-2025/) for the updates and further details.

- <span style="color: green"> **Further details on IOQM will be published in the month of June 2024**</span> on the webpage of [Mathematics Teachers’ Association](https://www.mtai.org.in/).

- A few problems from IOQM 2023 have been discussed [here](../static_files/IOQM/IOQM23.pdf).

-------
<h2 align="center">👋 Please <span style="color: red">go through the homepage</span> <a href="https://jpsaha.github.io/MOTP/">https://jpsaha.github.io/MOTP/</a>, to know </h2>

- What is the <span style="color: green"> **purpose/goal**</span> of (making) <span style="color: green"> **this website**</span>? 
- How the <span style="color: green"> **material available**</span> here <span style="color: green"> **can be used**</span>? 
- <span style="color: green"> **The sitemap**</span>, that is, the <span style="color: green"> **layout**</span> of the entire webpage. 

-------