---
layout: page
---

{{ content }}
<ul id="archive">
{% for alg in site.algebra %}
      <li class="archiveposturl" style="background: transparent">
            {% if alg.thumbnail %}
    <div class="thumbnail">
      <div class="center-cropped" style="margin-top:5px;margin-bottom:5px;background-image: url('{{ alg.thumbnail | prepend: site.baseurl }}');">
        <img src="{{ alg.thumbnail | prepend: site.baseurl }}"/>
      </div>
    </div>
    {% endif %}
        <span><a href="{{ alg.url | prepend: site.baseurl}}">{{ alg.title }}</a></span>
<strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right">
<a title="Download pdf (pdf)" href="{{ alg.pdf | prepend: site.baseurl }}"><i class="fas fa-file-pdf"></i></a> 
{% if alg.tex %}
&nbsp; <a title="Download tex (tex)" href="{{ alg.tex | prepend: site.baseurl }}"><i class="fas fa-file-pdf"></i></a>
{% endif %}
</strong> 
      </li>
{% endfor %}
</ul>
