---
layout: page
---

{{ content }}
<ul id="archive">
{% for asggg in site.algebra %}
      <li class="archiveposturl" style="background: transparent">
        <span><a href="{{ asggg.url | prepend: site.baseurl}}">{{ asggg.title }}</a></span>
<strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right">
<a title="Download pdf (pdf)" href="{{ asggg.pdf | prepend: site.baseurl }}"><i class="fas fa-file-pdf"></i></a> 
{% if asggg.tex %}
&nbsp; <a title="Download tex (tex)" href="{{ asggg.tex | prepend: site.baseurl }}"><i class="fas fa-file-pdf"></i></a>
{% endif %}
</strong> 
      </li>
{% endfor %}
</ul>
