---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1><span style="margin-top: -2px;margin-bottom: -10px;" class="site-title"><a href="{{ site.baseurl }}/" title="{{ site.course_name }} / {{ site.course_semester }} - {{ site.schoolname }}"><b>{{ site.course_name }}</a></b></span>   {{ site.course_sname }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
