---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1> <a href="{{ site.baseurl }}/MOPSS">{{ site.course_sname }}</a> <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>
    <!-- <b><h2><span style="margin-top: -2px;margin-bottom: -10px;" class="site-title"><a href="{{ site.baseurl }}/" title="{{ site.course_name }} / {{ site.course_semester }} - {{ site.schoolname }}"><b>{{ site.course_name }}</a></b></span>  </h2></b> -->
      <!--<a href="{{ site.baseurl }}">problems</a> -->
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  
On the webpage of [Mathematics Teachers’ Association](https://www.mtai.org.in/), it has been announced that <span style="color: fuchsia"> **IOQM 2024 will be held at centers across India on Sunday, 8th September 2024. Further details will be published on the webpage of [Mathematics Teachers’ Association](https://www.mtai.org.in/) in the month of June 2024.**</span>

On the webpage of [Mathematics Teachers’ Association](https://www.mtai.org.in/), it has been announced that <span style="color: green"> **IOQM 2024 will be held at centers across India on Sunday, 8th September 2024. Further details will be published on the webpage of [Mathematics Teachers’ Association](https://www.mtai.org.in/) in the month of June 2024.**</span>

<br>
  
  <article class="post-content">
    {{ content }}
  </article>

</div>
