---
layout: page
---

{{ content }}
<ul id="archive">
{% for sld in site.slides %}
      <li class="archiveposturl" style="background: transparent">
        <span><a href="{{ sld.url | prepend: site.baseurl}}">{{ sld.title }}</a></span>
<strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right">
<!-- <a title="Download pdf (pdf)" href="{{ sld.pdf | prepend: site.baseurl }}"><i class="fas fa-file-pdf"></i></a> -->
{% if sld.tex %}
&nbsp; <a title="Download tex (tex)" href="{{ sld.tex | prepend: site.baseurl }}"><i class="fas fa-file-pdf"></i></a>
{% endif %}
</strong> 
      </li>
{% endfor %}
</ul>
