---
layout: page
---

{{ content }}
<ul id="archive">
{% for tp in site.trainingprogram %}
      <li class="archiveposturl" style="background: transparent">
            {% if tp.thumbnail %}
    <div class="thumbnail">
      <div class="center-cropped" style="margin-top:5px;margin-bottom:5px;background-image: url('{{ tp.thumbnail | prepend: site.baseurl }}');">
        <img src="{{ tp.thumbnail | prepend: site.baseurl }}"/>
      </div>
    </div>
    {% endif %}
        <span><a href="{{ tp.url | prepend: site.baseurl}}">{{ tp.title }}</a></span>
<strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right">
<a title="Download pdf (pdf)" href="{{ tp.pdf | prepend: site.baseurl }}"><i class="fas fa-file-pdf"></i></a> 
{% if tp.tex %}
&nbsp; <a title="Download tex (tex)" href="{{ tp.tex | prepend: site.baseurl }}"><i class="fas fa-file-pdf"></i></a>
{% endif %}
</strong> 
      </li>
{% endfor %}
</ul>
